version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
    groups:
      serde:
        patterns:
          - "serde*"
      eyre:
        patterns:
          - "*eyre"
      tracing:
        patterns:
          - "tracing*"
      aws:
        patterns:
          - "aws-*"
